@charset "utf-8" ;
<!---css style --->

body {background-color:#f6f5f5;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;

}
a{
	text-decoration: none;

}
section{
	width: 100%;
	height: 95vh;
	background-image:url("photos1/background.jpg"); 
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;
}
nav{
	display: flex;

	justify-content: space-between;
	width: 100%;
	height: 60px;
	background-color: white;
	box-shadow: 7px 7px 12px rgba(0,0,0,0.3);
	padding-top: 5px;}
nav ul{
	display: flex;
}
nav ul li a{
	margin: 30px;
	font-family: Audiowide;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}
nav ul li a:hover{
	color: tomato;
	transition: .5s;

}

.logo{
	max-width: 200px;
	max-height: 70px;
	padding-left: 20px;
	padding-bottom: 10px;
    padding-top: 0px;
}
footer{
	background: #303036;
	color: #d3d3d3;
	height: 70px;
	width: 100%;
	position: absolute;
	text-align: center;
	padding-top: 5px;
	box-shadow: 0px -10px 8px dimgrey;
}

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
	*
	{	
	
	 font-family: 'Langar', cursive;
		margin: 0;
		padding: 0;
	
	 }

.contact {
	position: relative;
	min-height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .content {
	max-width: 800px;
	text-align: left;
}
.contact .content h2{
	font-size: 40px;
	font-weight: 500;
	color: #d4a713;
}

.contact .content p{
	
	font-weight: 400;
	color: #d4a713;
}
.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo {
	width: 30%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactInfo .box .icon
{
	min-width: 60px;
	height: 60px;
	background: #d4a713;
	display: flex;
justify-content: center;
align-items: center; 
border-radius: 50%;
font-size: 22px;
}
.container .contactInfo .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 20px;
	color: #d4a713;
	flex-direction: column;
	font-weight: 300;
}
.container .contactInfo .box .text h3{
	font-weight: 500;
	color: #00bcd4;}
.contactForm{
	width: 100%;
	padding:30px;
	background: #d4a713;
	

}
.contactForm h2{
	font-size: 40px;
	color: black;
	font-weight: 500;
}
.contactForm .inputBox{
	position: relative;
	width: 70%;
	margin-top: 10px;}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 20px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;}
.contactForm .inputBox span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 20px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
	color: black;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
	width: 100px;
	background: black;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
@media only screen and (max-width: 750px){
	nav ul li a{
	margin: 10px;

	font-size: 12px;
	font-weight: 200;}
}
@media only screen and (max-width: 1100px){
.contact .content h2{
	margin-top: 40px;
	font-size: 34px;
	font-weight: 450;

}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;}
}
@media only screen and (max-width: 730px){
.contact .content h2{
	margin-top: 40px;
	font-size: 30px;
	font-weight: 400;

}
.contactForm .inputBox{
	position: relative;
	
	width: 100%;
	left: 0%;
	margin-top: 10px;}
}




@media only screen and (max-width: 680px){
	nav ul li a{
	margin: 10px;

	font-size: 10px;
	font-weight: 200;}
}
	.contact .content h2{
	margin-top: 40px;
	font-size: 25px;
	font-weight: 300;}
.contactForm .inputBox{
	position: relative;
	
	width: 100%;
	left: 0%;
	margin-bottom: 10px;}
	.contactForm .inputBox input,
.contactForm .inputBox textarea{
	
	padding: 3px 0;
	font-size: 10px;
	margin: 5px 0;
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	resize: none;}
	.contactForm .inputBox span {
	position: absolute;
	left: 0;
	padding: 3px 0;
	font-size: 10px;
	margin: 5px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
	color: black;
	font-size: 10px;
	transform: translateY(-20px);}
.contactForm h2{
	font-size: 17px;
	color: black;
	font-weight: 450;
}
.contact .content h2{
	font-size: 15;
	font-weight: 400;
	color: #d4a713;
}
.container .contactInfo .box .text h3{
	
	font-weight: 450;
	color: #00bcd4;}
}
.container .contactInfo .box .icon
{
	min-width: 60px;
	height: 50px;
	background: #d4a713;
	display: flex;
justify-content: center;
align-items: center; 
border-radius: 50%;
font-size: 18px;}
.container .contactInfo .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 13px;
	color: #d4a713;
	flex-direction: column;
	font-weight: 3250;}
}
